body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
}

body > header {
    background-color: white;
}

header {
    text-align: center;
}

h1 {
    color: #1a41d6;
}

nav {
    background-color: black;
    margin: 4px;
    text-align: center;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px; /* Space between menu items */
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    padding: 14px 12px;
    display: inline-block;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

nav ul li a:hover {
    color: #f0f1f6; /* Change text color on hover */
    box-shadow: 0px 0px 10px 3px rgba(243, 243, 243, 0.6); /* Light white box shadow on hover */
    border-radius: 4px; /* Optional: Rounded corners for the shadow effect */
    text-decoration: none;
}

h2, h3 {
    color: #1a41d6;
}

.card img {
    max-width: 300px;
    margin-left: 420px;
}

section {
    background-color: white;
    padding: 4px;
    border-radius: 4px;
    margin: 10px;
}

ul li {
    padding: 0;
}

/* Updated CSS for the Curriculum Grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 10px;
}

.grid-item {
    background-color: #eee;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Additional styling for footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}